#开启rewrite模块
RewriteEngine On
#重写规则
RewriteCond  %{HTTP_REFERER} !^$ [NC]
RewriteCond  %{HTTP_REFERER} !zhangjing.muniao.org
RewriteCond  %{HTTP_REFERER} !blog.muniao.org
RewriteCond  %{HTTP_REFERER} !muniao.org
RewriteCond  %{HTTP_REFERER} !doom.muniao.org
RewriteCond  %{HTTP_REFERER} !damin.muniao.org
RewriteCond  %{HTTP_REFERER} !www.google.com
RewriteCond  %{HTTP_REFERER} !www.baidu.com
RewriteCond  %{HTTP_REFERER} !wap.baidu.com
RewriteCond  %{HTTP_REFERER} !m.baidu.com
RewriteCond  %{HTTP_REFERER} !blog.com
RewriteCond  %{HTTP_REFERER} !blog2.com
RewriteRule .*\.(jpg|gif|png|bmp|swf|jpeg) me.jpg



